#img{
    border-radius: 10px;
    -webkit-box-shadow: -1px 3px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 12px -3px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 12px -3px rgba(0,0,0,0.75);

}

#test{

    height: 200px;
    width: 200px;

}
.p1{
    font-weight: lighter;
    color: gray;
    font-size: 21px;
}

.small{
    font-weight: bold;
    color: gray;
}

.title{
    font-weight: bolder;
}

.fa-facebook{
    color: blue;
    font-size: 21px;
}

.fa-twitter{
    color: #1DA1F2;
    font-size: 21px;
}

.fa-linkedin{
    color: #000000;
    font-size: 21px;
}