<!DOCTYPE html>
{% extends 'intro/base.html' %}
{% load static %}

<div>
{% block content %}
<!-- Start Carousel -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'intro/img/slider/rice4.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption ">
                    <h5 class="animated fadeInDown" style="animation-delay: 1s">First slide label</h5>
                    <p class="animated fadeInDown d-none d-md-block" style="animation-delay: 1s">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt laboriosam veritatis quos! Deserunt!</p>
                    <p class="animated fadeInUp swing" style="animation-delay: 1s">
                        <a href="#">Learn More</a>
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'intro/img/slider/rice5.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption ">
                    <h5 class="animated fadeInDown" style="animation-delay: 1s">First slide label</h5>
                    <p class="animated fadeInDown d-none d-md-block" style="animation-delay: 1s">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt laboriosam veritatis quos! Deserunt!</p>
                    <p class="animated fadeInUp" style="animation-delay: 1s">
                        <a href="#">Learn More</a>
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'intro/img/slider/rice3.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption ">
                    <h5 class="animated fadeInDown" style="animation-delay: 1s">First slide label</h5>
                    <p class="animated fadeInDown d-none d-md-block" style="animation-delay: 1s">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt laboriosam veritatis quos! Deserunt!</p>
                    <p class="animated fadeInUp" style="animation-delay: 1ss">
                        <a href="#">Learn More</a>
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> 
<!-- Stop Carousel -->

<!-- Start First -->
    <div class="container col-xxl-8 px-4 py-5" id="back-2">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Research in the Lab</h1>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam iure dicta placeat maiores! Voluptatem dolor, distinctio expedita tempore nisi aut quae error tenetur optio provident et voluptatum harum quos natus neque. Iste nihil est nostrum consequuntur facilis. Inventore ea vitae consequatur dolores voluptas? Voluptatum necessitatibus impedit nam culpa dignissimos ducimus.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-success btn-lg px-4 me-md-2">Read More...</button>
                </div>
            </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'intro/img/cover/research.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="200" loading="lazy" >
        </div>
        
        </div>
    </div>

<!-- End First -->

<!--Start Second -->
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'intro/img/team/SR.png' %}" id="Hero_image" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="100" loading="lazy" >
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">About Dr. Saurabh Raghuvanshi & the Lab</h1>
            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam iure dicta placeat maiores! Voluptatem dolor, distinctio expedita tempore nisi aut quae error tenetur optio provident et voluptatum harum quos natus neque. Iste nihil est nostrum consequuntur facilis. Inventore ea vitae consequatur dolores voluptas? Voluptatum necessitatibus impedit nam culpa dignissimos ducimus.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn-success btn-lg px-4 me-md-2">Read More...</button>
            </div>
        </div>
        </div>
    </div>
<!--End Second -->


{% endblock content %}
</div>
   
</body>
</html>