{% extends 'intro/base.html' %}
{% load static %}

<div>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <figure>
                    <img src=" {% static 'intro/img/main/research.jpg'%}" width="200px" height="100px"alt="">
                </figure>
            </div>
            <div class="col lg-6 col-md-6 col-12 justify-content-center align-items-center">
                <h1>Research in the Lab</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ducimus fuga incidunt nesciunt nostrum vel itaque. Tenetur dicta repudiandae, soluta blanditiis voluptatibus at omnis fuga ex nobis minus magnam porro autem animi esse. Harum praesentium animi at enim consectetur suscipit qui, placeat libero, vel labore voluptatibus numquam fuga tenetur ipsum?</p>
            </div>
        </div>
    </div>
{% endblock %}
</div>