<!-- <!DOCTYPE html> -->
{% extends 'intro/base.html' %}
{% load static %}

<div>
{% block content %}

<section id="team-header">
        <div class="container" >
        <section class="jumbotron text-center bg-light">
            <h1 class="display-5 text-info" >Our Team</h1>
            <hr>
            <p class="text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus saepe esse quisquam deleniti atque debitis? Earum rerum obcaecati quos veritatis voluptates! Qui veritatis impedit illum, nemo in culpa labore perspiciatis. Nam saepe, maiores modi maxime ipsam aut optio, laborum autem amet, dicta ipsa odio repellat itaque culpa praesentium eaque laboriosam!
            </p>
        </section>
    </div> 
</section>
<!-- Principal Investigator Header -->
<section class="main-head my-5">
        <div class="text-center">
            <h1 class="display-4">Principal Investigator</h1>
            <hr class="w-25 mx-auto">
        </div>
</section>

<section class="pi">
    <div class="container border w-100">
        <div class="row sm-auto">





        </div>
    </div>
</section>

<!-- End Principal Investigator Header -->


<!-- Reseearch Scholar Heading -->

    <section class="main-head my-5">
        <div class="text-center">
            <h1 class="display-4">Research Scholars</h1>
            <hr class="w-25 mx-auto">
        </div>
    </section>

    
 

    <section class="our-team mt-5" >
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="card">
                        <div class="img-container">
                            <img src="{% static 'intro/img/team/teamp.png' %}" alt="" class="card-img-top animated fadeInDown" style="animation-delay: 1s">
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title text-info">Pratibha</h5>
                                <h6 class="card-subtitle mb-2 text-muted">PhD Scholar</h6>
                            </div>

                            <p class="card-text">Worked towards semantic digitization of experimental data and characterization of drought responsive transcription factors in rice</p>

                            <ul class="list-inline text-center">
                                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook text-info"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-envelope text-info"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter text-info"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin text-info"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
<!-- End Navbar  -->

<!-- Start First Card -->

                <div class="col-lg-4 mb-3">
                    <div class="card">
                        <div class="img-container">
                            <img src="{% static 'intro/img/team/team1.png' %}" alt="" class="card-img-top animated fadeInUp" style="animation-delay: 1s" height="427px" width="640px">
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title text-info">Ringyao Jajo</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Senior Research Fellow (CSIR-NET)</h6>
                            </div>

                            <p class="card-text">Current research work is on understanding the differences of genome-wide DNA methylation of drought susceptible and tolerant rice cultivars and their epigenetic responses to drought stress. </p>

                            <ul class="list-inline text-center">
                                <li class="list-inline-item animated fadeInDown"><a href="#"><i class="fab fa-facebook text-info"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-envelope text-info"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter text-info"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin text-info"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

<!-- End First Card -->

<!-- Start Second Card -->

                <div class="col-lg-4 mb-3">
                    <div class="card">
                        <div class="img-container">
                            <img src="{% static 'intro/img/team/team2.png' %}" alt="" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title text-info">Pratyush</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Project Associate 1</h6>
                            </div>

                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, repellendus.</p>

                            <ul class="list-inline text-center">
                                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook text-info"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-envelope text-info"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter text-info"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin text-info"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

<!-- End Second Card -->

<!-- Start Third Card -->

<div class="col-lg-4 mb-3">
    <div class="card">
        <div class="img-container">
            <img src="{% static 'intro/img/team/SR.png' %}" alt="" class="card-img-top">
        </div>
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title text-info">Elizabeth William</h5>
                <h6 class="card-subtitle mb-2 text-muted">President</h6>
            </div>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, repellendus.</p>

            <ul class="list-inline text-center">
                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook text-info"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-envelope text-info"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter text-info"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin text-info"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- End Third Card -->

<!-- Start Fourth Card -->

<div class="col-lg-4 mb-3">
    <div class="card">
        <div class="img-container">
            <img src="{% static 'intro/img/team/1.jpg' %}" alt="" class="card-img-top">
        </div>
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title text-info">Elizabeth William</h5>
                <h6 class="card-subtitle mb-2 text-muted">President</h6>
            </div>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, repellendus.</p>

            <ul class="list-inline text-center">
                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook text-info"></i></a></li>
                <li class="list-inline-item"><a href="mailto:saurabh@genomeindia.org"><i class="fa fa-envelope text-info"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter text-info"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin text-info"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- End Fourth Card -->



<!-- Start Fifth Card -->

<div class="col-lg-4 mb-3">
    <div class="card">
        <div class="img-container">
            <img src="{% static 'intro/img/team/1.jpg' %}" alt="" class="card-img-top">
        </div>
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title text-info">Elizabeth William</h5>
                <h6 class="card-subtitle mb-2 text-muted">President</h6>
            </div>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, repellendus.</p>

            <ul class="list-inline text-center">
                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook text-info"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-envelope text-info"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter text-info"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin text-info"></i></a></li>
            </ul>
        </div>
    </div>
</div>

            </div>
        </div>
</section>

<!-- End fifth Card -->

{% endblock content %}
</div> 
   
