@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    /* font-family: montserrat; */
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/* Start Carousel Styling */

.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption a{
    text-transform: uppercase;
    text-decoration: none;
    background: crimson;
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
}

.carousel-inner:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/* Stop Carousel Styling */

/* Start Styling NavBar */

#navbar-top{
    box-shadow: 2px 13px 13px 0px rgba(1,17,39,1);
    -webkit-box-shadow: 2px 13px 13px 0px rgba(1,17,39,1);
    -moz-box-shadow: 2px 13px 13px 0px rgba(1,17,39,1);   
    padding-top: 20px; 
}

.navbar .getstarted{            
    background: crimson;
    background: blue;
    margin-left: 30px;
    border-radius: 5px;
    font-weight: 400;
    /* font-weight:bold; */
    color: #fff;
    text-decoration: none;
    padding: .5rem 1rem;
    line-height: 2.3;
}

.navbar-nav a{              /* Styling link Tag */
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-weight: 700;

    /* text-decoration: underline 0.15em rgba(0, 0, 0, 1); */
    /* text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms; */
}

.navbar-nav a:hover{
    text-decoration: underline 0.15em;
    text-decoration-color: red;
    text-underline-offset: 0.5em;
}

.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand .lab-text
{
    color: crimson;
    color: green;
    font-weight: 700;
    text-shadow: 2px -3px 0px rgba(137, 206, 21, 0.4);
    /* color: rgb(45, 45, 221); */
}

footer .bd-footer .lab-text{
    color: crimson;
    color: green!important;
    font-weight: 700;
    text-shadow: 2px -3px 0px rgba(137, 206, 21, 0.4)!important;
}



.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}



.navbar-light .navbar-nav .nav-link{
    color: #000;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: #000;
}

.w-100{
    height: 100vh;
}

.navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}

/* Footer Section */

/* .bd-footer .footer-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
} */


/* 
span .lab-text .ms-3{

    color: crimson;
    color: green!important;
    font-weight: 700;
    text-shadow: 2px -3px 0px rgba(137, 206, 21, 0.4)!important;

}   */

/* Footer Section End */

/* Publication */
    #content-box{
        margin-top: 150px;
    }
/* End Publication */

@media only screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 165px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    .navbar .getstarted{
        display: none;
    }
}